<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photos</title>
</head>
<body>

<table th:unless="${summaries.isEmpty()}">
    <thead>
    <tr>
        <td>Photos</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${summaries}">
        <td><img th:src="@{'https://s3.amazonaws.com/' + ${row.getBucketName()} + '/' + ${row.getKey()}}" height="50" width="50"/></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/photos/new}">Add Photo</a>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>