<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photos</title>
</head>
<body>

<table th:if="${not #lists.isEmpty(keys)}">
    <thead>
    <tr>
        <td>Photos</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="key : ${keys}">
        <td>
            <img th:src="@{${urlBase} +'/' + ${storage} + '/' + ${key} + 'thumbnail'}"/>
        </td>
        <td>
            <form th:action="@{'/photos/delete' + ${key}}" th:method="post">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/photos/new}">Add Photo</a>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>