<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>International Man of Mystery</title>
    <style></style>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
<span id="configure">
<a th:href="@{/photos}">
    <i class="fas fa-cog fa-3x"></i>
</a>
</span>
<div id="bg"></div>
<script type="application/javascript" th:src="@{js/photos.js}"></script>
</body>
</html>